<h2>Active builds: {{self.builds.length}} | Active jobs: {{self.jobsTotal}} (Running: {{self.jobsStarted}} + Queued: {{self.jobsTotal - self.jobsStarted}}) | {{self.now | date:'medium'}}</h2>

<table ng-if="self.builds.length">
  <tr>
    <th>Build</th>
    <th>State</th>
    <th>Repo</th>
    <th>Build Type</th>
    <th>Started At</th>
    <th>Jobs</th>
    <th>Commit</th>
    <th>Author</th>
    <th>Message</th>
    <th>Jobs</th>
  </tr>
  <tr ng-repeat="build in self.builds">
    <td>
      <a href="https://travis-ci.org/{{build.repo.slug}}/builds/{{build.id}}">
        #{{build.number}}
      </a>
    </td>
    <td>{{build.state}}</td>
    <td>{{build.repo.slug}}</td>
    <td ng-switch on="build.pull_request">
      <span ng-switch-when="true">
        <a href="https://github.com/{{build.repo.slug}}/pull/{{build.pull_request_number}}">
          #{{build.pull_request_number}}
        </a>
      </span>
      <span ng-switch-when="false">
        <a href="https://github.com/{{build.repo.slug}}/tree/{{build.commit.branch}}">
          {{build.commit.branch}}
        </a>
      </span>
    </td>
    <td>
      <span ng-if="build.started_at">
        {{build.started_at | date:"mediumTime"}} ({{ build.started_at | ago }} ago)
      </span>
    </td>
    <td>{{build.jobCountActive || '?'}} / {{build.jobCountTotal}}</td>
    <td>
      <a href="https://github.com/{{build.repo.slug}}/commit/{{build.commit.sha}}"
         title="{{build.commit.message}}">
        {{build.commit.sha | limitTo:8}}
      </a>
    </td>
    <td>{{build.commit.author_name}}</td>
    <td>{{build.pull_request_title || build.commit.message | limitTo: 120}}</td>
    <td>
      <table ng-if="build.jobs.length">
        <tr>
          <th>Job #</th>
          <th>State</th>
          <th>Started At</th>
          <th>Queue</th>
        </tr>
        <tr ng-repeat="job in build.jobs">
          <td>
            <a href="https://travis-ci.org/{{job.repository_slug}}/jobs/{{job.id}}">
              #{{job.number}}
            </a>
          </td>
          <td>{{job.state}}</td>
          <td>
            <span ng-if="job.started_at">
              {{job.started_at | date:"mediumTime"}} ({{ job.started_at | ago }} ago)
            </span>
          </td>
          <td>{{job.queue}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div ng-if="self.builds.length === 0 && self.loadingRepos.length === 0">
  No active builds found...
</div>

<hr>

<div ng-if="self.builds.length === 0 && self.loadingRepos.length === 0">
  No active jobs found...
</div>

<hr>
<br>

<div ng-if="!self.loadingRepos">
  <b>Loading repo list...</b>
</div>

<div ng-if="self.loadingRepos.length">
  <b>Loading build info for repos:</b>
  <span ng-repeat="repo in self.loadingRepos">{{repo.slug}}, </span>
</div>

<br>

<div ng-if="self.loadingBuilds.length">
  <b>Loading job info for builds:</b>
  <span ng-repeat="build in self.loadingBuilds">{{build.number}}, </span>
</div>